# Uber Pickups

In [4]:
!pip install statsmodels

Requirement already satisfied: statsmodels in c:\users\elena\anaconda3\lib\site-packages (0.12.0)
Requirement already satisfied: numpy>=1.15 in c:\users\elena\anaconda3\lib\site-packages (from statsmodels) (1.19.2)
Requirement already satisfied: scipy>=1.1 in c:\users\elena\anaconda3\lib\site-packages (from statsmodels) (1.5.2)
Requirement already satisfied: pandas>=0.21 in c:\users\elena\anaconda3\lib\site-packages (from statsmodels) (1.1.3)
Requirement already satisfied: patsy>=0.5 in c:\users\elena\anaconda3\lib\site-packages (from statsmodels) (0.5.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\elena\anaconda3\lib\site-packages (from pandas>=0.21->statsmodels) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\elena\anaconda3\lib\site-packages (from pandas>=0.21->statsmodels) (2020.1)
Requirement already satisfied: six in c:\users\elena\anaconda3\lib\site-packages (from patsy>=0.5->statsmodels) (1.15.0)

In [5]:
# Importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.distributions.empirical_distribution import ECDF
import matplotlib.pyplot as plt
import warnings
from sklearn.cluster import DBSCAN

In [6]:
# Loading dataset

apr14 = pd.read_csv('uber-raw-data-apr14.csv')
may14 = pd.read_csv('uber-raw-data-may14.csv')
jun14 = pd.read_csv('uber-raw-data-jun14.csv')
jul14 = pd.read_csv('uber-raw-data-jul14.csv')
aug14 = pd.read_csv('uber-raw-data-aug14.csv')
sep14 = pd.read_csv('uber-raw-data-sep14.csv')

df_14 = pd.concat([apr14, may14,jun14,jul14,aug14,sep14], ignore_index = True)
df_14.head()

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

In [7]:
# Returning the type data of each column
df_14.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4534327 entries, 0 to 4534326
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   Date/Time  object
 1   Lat        float64
 2   Lon        float64
 3   Base       object
dtypes: float64(2), object(2)
memory usage: 138.4+ MB

In [8]:
# Returning the percentage of missing values for each column
display(100*df_14.isnull().sum()/df_14.shape[0])

Date/Time    0.0
Lat          0.0
Lon          0.0
Base         0.0
dtype: float64

In [ ]:
# Converting Date/Time column to datetime type and expanding it to seperate columns

df_14['Date/Time'] = pd.to_datetime(df_14['Date/Time'])
df_14['Date'] = df_14['Date/Time'].dt.date
df_14['Month'] = df_14['Date/Time'].dt.month
df_14['Week'] = df_14['Date/Time'].dt.week
df_14['Time'] = df_14['Date/Time'].dt.hour
df_14['Num_Day'] = df_14['Date/Time'].dt.dayofweek 

#On 'DayofWeekNum': 0 = Monday, 1=Tuesday, ..., 6 = Sunday
df_14['Day'] = df_14['Date/Time'].dt.day_name() 
df_14.head()

# Exploratory Analysis

In [ ]:
# counting rides for each month for all base
monthly_rides = df_14['Base'].groupby(df_14['Month']).count() 

plt.figure(figsize=(10,6))
sns.barplot(monthly_rides.index, monthly_rides.values, palette='Set3')

plt.title('Trips per month', fontsize=18)
plt.ylabel('Total Trips', fontsize=16)
plt.xlabel('Month', fontsize=16)
#plt.legend(['Base'])
plt.show()

In [ ]:
# counting rides for each week for all base

order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
monthly_rides = df_14['Base'].groupby(df_14['Day']).count().reindex(order) 

plt.figure(figsize=(10,6))
sns.barplot(monthly_rides.index, monthly_rides.values, palette='Set3')

plt.title('Trips per day of the week', fontsize=18)
plt.ylabel('Total Trips', fontsize=16)
plt.xlabel('Day of week', fontsize=16)
plt.show()

Interestingly, there were more rides on Thursday! Friday closely followed. There were more rides on even Wednesday and Tuesday than on Saturdays, which was not what I expected!

We will try to visualise the number of rides for the weekdays for each months.

In [ ]:
daily_rides_month = df_14.groupby(['Month', 'Num_Day','Day'])['Base'].count()
daily_rides_month = daily_rides_month.reset_index()
daily_rides_month = daily_rides_month.rename(columns = {'Base':'Rides'})

daily_rides_month.head(20)

In [ ]:
fig = plt.figure(figsize= (12,6))

sns.pointplot(x = 'Day', y = 'Rides', hue = 'Month', data = daily_rides_month, palette='Set2')

plt.title('Trips of each weekday per Month', fontsize=18)
plt.ylabel('Total Trips', fontsize=16)
plt.xlabel('Day of th week', fontsize=16)
#plt.legend(['DayOfWeek'])
plt.show()

From the plot above, we can see how the number of Uber pickups increasing each month, with Thursday having more pickups. We can also view the total pickups for each day of the individual months and as you can clearly notice, the line graphs all seem to have a similar pattern to some extent throughout the week. Breaking down the data also shows us that only July and August had the highest total number of pickups on Thursdays.

In [ ]:
# counting rides for each hour
monthly_rides = df_14['Base'].groupby(df_14['Time']).count() 

plt.figure(figsize=(10,6))
sns.barplot(monthly_rides.index, monthly_rides.values, palette='Set3')

plt.title('Trips by hour', fontsize=18)
plt.ylabel('Total Trips', fontsize=16)
plt.xlabel('Hour of the day', fontsize=16)
#plt.legend(['Base'])
plt.show()

Looks like the demand for Uber increases between 6:00 – 8:00 and then again even more from 15:00. Rises until 17:00 and then steadily starts decreasing until late night.

In [ ]:
hourly_rides = df_14.groupby(['Month', 'Num_Day','Day', 'Time'])['Base'].count()
hourly_rides = hourly_rides.reset_index()
hourly_rides = hourly_rides.rename(columns = {'Base':'Rides'})

hourly_rides.head()

In [ ]:
# Seperate hourly dataset per month

apr_hourly = hourly_rides[hourly_rides.Month == 4]
may_hourly = hourly_rides[hourly_rides.Month == 5]
jun_hourly = hourly_rides[hourly_rides.Month == 6]
jul_hourly = hourly_rides[hourly_rides.Month == 7]
aug_hourly = hourly_rides[hourly_rides.Month == 8]
sep_hourly = hourly_rides[hourly_rides.Month == 9]


fig, axes = plt.subplots(6, 1, figsize=(15, 35), sharey=True)
plt.figure(figsize=(6,6))
fig.tight_layout(pad=4.0)

# April
sns.pointplot(ax=axes[0], x = 'Time', y = 'Rides', hue = 'Day', data = 
                          apr_hourly, palette='Set2')
axes[0].set_title('Total Hourly Trips by day in April', fontsize=15)
axes[0].legend(loc='upper left')

# May
sns.pointplot(ax=axes[1], x = 'Time', y = 'Rides', hue = 'Day', data = 
                          may_hourly, palette='Set2')
axes[1].set_title('Total Hourly Trips by day in May', fontsize=15)


# June
sns.pointplot(ax=axes[2], x = 'Time', y = 'Rides', hue = 'Day', data = 
                          jun_hourly, palette='Set2')
axes[2].set_title('Total Hourly Trips by day in June', fontsize=15)

# Jully
sns.pointplot(ax=axes[3], x = 'Time', y = 'Rides', hue = 'Day', data = 
                          jul_hourly, palette='Set2')
axes[3].set_title('Total Hourly Trips by day in Jully', fontsize=15)

# August
sns.pointplot(ax=axes[4], x = 'Time', y = 'Rides', hue = 'Day', data = 
                          aug_hourly, palette='Set2')
axes[4].set_title('Total Hourly Trips by day in August', fontsize=15)

# September
sns.pointplot(ax=axes[5], x = 'Time', y = 'Rides', hue = 'Day', data = 
                          sep_hourly, palette='Set2')
axes[5].set_title('Total Hourly Trips by day in September', fontsize=15)
axes[5].legend(loc='upper left')

plt.show()

The month-hour plots follow the same pattern. For the weekdays the higher picks appeared from 6:00 to 9:00 and from 17:00 to 21:00. At the weekends we notice the highest demand from 22:00 to midnight. Later there is a decrease in demand which starts to increase again after 12:00.

In [ ]:
# The dataset is quite big : we will create a sample of the dataset before making any visualizations
df_14_sample = df_14.sample(4000, random_state=0)

In [ ]:
plt.figure(figsize = (10,10))
ecdf = ECDF(df_14_sample['Time'])
plt.plot(ecdf.x, ecdf.y)

In the plot above, we see the augmentation of demand of uber based on the time, and we can create 5 groups of time based on similar demand.

Early Morning: 00:00 - 06:00<br/>
Rush Hour: 07:00 - 10:00<br/>
Mid Day: 11:00 - 14:00<br/>
Afternood: 15:00 - 18:00<br/>
Eveening: 19:00 - 23:00

In [ ]:
# categorizing time

df_14_sample['Time_Categorise'] = df_14_sample['Time'].apply(lambda x: 'early morning' if x <= 6
                                                             else 'rush hour' if 6 < x <= 10
                                                             else 'mid day' if 10 < x <= 14
                                                             else 'afternoon' if 14 < x <= 18
                                                             else 'evening')
df_14_sample.head()

In [ ]:
# Removing Date and Time column
df_14_sample = df_14_sample.drop(['Date/Time', 'Base'], axis = 1)

In [ ]:
# Returning the 5 first rows
df_14_sample.head()

In [ ]:
# Returning the type of the features
df_14_sample.dtypes

In [ ]:
# Adding day of the week column
df_14_sample['Date'] = pd.to_datetime(df_14_sample['Date'])
df_14_sample['day_of_week']= df_14_sample['Date'].dt.weekday
df_14_sample.head()

In [ ]:
# Seperating dataset based on the day of the week

df_mon = df_14_sample[df_14_sample['day_of_week']== 0]
df_tue = df_14_sample[df_14_sample['day_of_week'] == 1]
df_wes = df_14_sample[df_14_sample['day_of_week'] == 2]
df_thu = df_14_sample[df_14_sample['day_of_week'] == 3]
df_fri = df_14_sample[df_14_sample['day_of_week'] == 4]
df_sat = df_14_sample[df_14_sample['day_of_week'] == 5]
df_sun = df_14_sample[df_14_sample['day_of_week'] == 6]

# Model

### Best spot by week days

In [ ]:
# Decomposing date field
#df_14_sample['Date'] = pd.to_datetime(df_14_sample['Date'])

df_14_sample['day'] = df_14_sample['Date'].dt.day
df_14_sample['month'] = df_14_sample['Date'].dt.month
df_14_sample['hour'] = df_14_sample['Date'].dt.hour
df_14_sample['minute'] = df_14_sample['Date'].dt.minute
df_14_sample['weekday'] = df_14_sample['Date'].dt.dayofweek.astype(str)

day_map = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday', 'Sunday']
df_14_sample['weekday_label'] = df_14_sample['weekday'].apply(lambda x: day_map[int(x)])
df_14_sample.head()

In [ ]:
def calculate_dbscan_day(day):
    print('Calculating DBSCAN for day', day)
    epsilon = 0.01
    nb_of_rides = 50
    sample = df_14_sample.loc[df_14_sample.weekday == str(day)]
    db = DBSCAN(eps=epsilon, min_samples=nb_of_rides, algorithm='ball_tree', metric="euclidean", n_jobs=8)
    db.fit(sample[['Lat', 'Lon']])
    sample['cluster'] = db.labels_.astype(str)
    return sample

In [ ]:
%%time
warnings.filterwarnings('ignore')

monday = calculate_dbscan_day(0)
tuesday = calculate_dbscan_day(1)
wednesday = calculate_dbscan_day(2)
thursday = calculate_dbscan_day(3)
friday = calculate_dbscan_day(4)
saturday = calculate_dbscan_day(5)
sunday = calculate_dbscan_day(6)

by_weekday = pd.concat([monday, tuesday, wednesday, thursday, friday, saturday, sunday])
clustered_data = by_weekday[by_weekday.cluster != '-1']

In [ ]:
clustered_data.shape

In [ ]:
import plotly.express as px

clustered_data = by_weekday[by_weekday.cluster != '-1']
fig = px.density_mapbox(
    clustered_data,
    title="Best spots by week day",
    lat="Lat", 
    lon="Lon",
    radius=5,
    mapbox_style="carto-positron",
    animation_frame="weekday_label",
    height=800
)
fig.show()